* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
Jenkinsfile merge=ours
nginx.conf merge=ours
k8s/* merge=ours
/config/cors.php  merge=ours
